section#correlation {
    text-align: center;
    margin: 0 auto;
}

table#correlation_table {
    border-collapse: collapse;
    margin: 20px auto;
}

table#correlation_table td,
table#correlation_table th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

table#correlation_table tr:nth-child(even) {
    background-color: #ddd;
}

section#correlation form * {
    display: block;
}

section#correlation form input {
    display: inline-block;
}

section#correlation form label {
    font-size: 24px;
    font-weight: 500;
}

section#correlation form button {
    width: 64px;
    height: 32px;
    border-radius: 8px;
    border: none;
    background-color: aquamarine;
    display: block;
    margin: 10px auto 0 auto;
}