section#layout nav {
    position: fixed;
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 144px;
    background-color: #dedede;
    height: 100vh;
    margin-right: 50px;
    padding: 20px 0;
}

section#layout nav > * {
    cursor: pointer;
    color: #000;
}

section#layout nav > div {
    width: 2.8rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    background: #000;
    color: #fff;
    border-radius: 12px;
    padding: 2px 8px;
}

section#layout nav > .nav_links {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-decoration: none;
    align-items: center;
}

section#layout > section {
    margin-left: 200px;
}

@media screen and (max-width: 620px) {
    section#layout nav {
        width: 96px;
    }
    section#layout > section {
        margin-left: 120px;
    }
    section#layout nav {
        margin-right: 25px;
    }
}

@media screen and (max-width: 475px) {
    section#layout nav {
        width: 84px;
    }
    section#layout > section {
        margin-left: 104px;
    }
    section#layout nav {
        margin-right: 25px;
    }
}